<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav" *ngFor="let menu of menus">
    <li class="nav-item">
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="changeMenu(menu)">{{menu.menuname}}</button>
      </li>
  </ul>
</nav>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'main'">
    Upper Case
    <input type="text" [ngClass]="{'form-control':true}" name="Name" [appInputFormat]="'up'"> Lowr Case
    <input type="text" [ngClass]="{'form-control':true}" name="Name" [appInputFormat]="'low'">
  </div>
  <div *ngSwitchCase="'form'">
    <h4>Form Tutorial Practice : </h4>
    <app-contact-form></app-contact-form>
  </div>
  <div *ngSwitchCase="'signup'">
    <signup-form></signup-form>
  </div>
  <div *ngSwitchCase="'jsonservice'">
    <app-jsonpost></app-jsonpost>
  </div>
  <div *ngSwitchDefault> Other Rates </div>
</div>
